body {
    background-color: rgb(245, 227, 227);
    margin: 0;
    padding: 0;
}

main {
    padding: 2%;
}

/*Header Navmenu*/
.imgheader {
    display: flex;
    justify-content: center;
    padding: 0;

}

.navlink {
    padding: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    color: #000000;
    border-right: #545457 0.5px solid;
}

.navlink:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(202, 201, 201);
    padding: 0;
}

.ulmenu {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    background-color: rgb(202, 201, 201);
    color: #000000;
}

.nav-item {
    margin-right: 18px;
    text-decoration: none;

}

.indexp {
    font-size: 18px;

}

.indexmain {
    padding: 0 5%;
}

/*Slutet på header */
/*Tabell*/
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hidden {
    display: none !important;
}

.container{

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container img {
    width: 200px;
    border: #1f1f1f 5px solid;
}
.testdiv{
    margin: 0 auto;
    width: 60%;
    line-height: 30px;
}