@model momentMVC.Models.BusInformationViewModel


@{

    ViewData["Title"] = "Våra bussar";
    }


     <h1>Våra bussar</h1>
     <h2>Vart kan du åka?</h2>

    <div class="container">
        <div class="grid1">
<p>Dubbeldäckare till Rivet</p>
<p>Totalt antal platser på bussen: <span>@Model?.Bus1?.TotalSeats</span></p>

        </div>
        <div class="grid2">
            <img src="../images/long.jpg" alt="bild på bussäten inuti bussen ">
        </div>
        <div class="grid3">
          <p>Stadsbuss till Malmtorp</p>  
          <p>Totalt antal platser på bussen: <span>@Model?.Bus2?.TotalSeats</span></p>

        </div>
        <div class="grid4">
                     <img src="../images/emdrup.jpg" alt="bild på gul buss i stan">
        </div>
        <div class="grid5">
            <p>Landsvägsbuss till Ärla</p>
                <p>Totalt antal platser på bussen: <span>@Model?.Bus3?.TotalSeats</span></p>
        </div>
        <div class="grid6">
                     <img src="../images/station.jpg" alt="gula bussar vid busstationen">
        </div>
        
    </div>



