@{
    ViewData["Title"] = "ViewBagTest";
}
<h2>ViewBagTest & ViewDatatest</h2>
<p> Nu har jag via controllern testat ViewBag som nedan skriver ut en text direkt från controllern:</p>


<p>ViewBag:@ViewBag.error</p>
<p> ViewData: @ViewData["TheName"]</p>